<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Sharath Edulakanti">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <link rel="stylesheet" href="button.css">
    <script src="https://kit.fontawesome.com/0b01ac136a.js" crossorigin="anonymous">
    </script>
</head>

<body>

    <!-- nav bar -->
    <nav class="navigation container">
        <div class="nav-brand">
            <a href="../../index.html" class="icon"><i class="fas fa-atom"></i></a>
            Atom UI
        </div>

        <ul class="list-non-bullet nav-list">
            <li class="list-item-inline">
                <a class="link" href="../../index.html">Home</a>
            </li>
            <li class="list-item-inline">
                <a class="link link-active" href="../avatar/avatar.html">Documentation</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="https://github.com/sharath-io/Atom-UI">Github</a>
            </li>
        </ul>
    </nav>

    <!-- sidebar -->
    <aside class="sidebar">
        <ul>
            <li><a href="../avatar/avatar.html">Avatar</a></li>
            <li><a href="../badge/badge.html">Badge</a></li>
            <li><a href="../alert/alert.html">Alert</a></li>
            <li><a href="button.html">Button</a></li>
            <li><a href="../card/card.html">Card</a></li>
            <li><a href="../image/image.html">Image</a></li>
            <li><a href="../input/input.html">Input</a></li>
            <li><a href="../navigation/navigation.html">Navigation</a></li>
            <li><a href="../rating/rating.html">Rating</a></li>
        </ul>
    </aside>

    <div class="body-text">
        <h1>Button</h1>
        <p class="description">The Button component is used to trigger an action or event, such as submitting a form,
            opening a dialog, canceling an action, or performing a delete operation.
            <h2>Primary buttons</h2>
            <p class="description">Primary action buttons mainly used to define: what do you want, the user to click on
                your website. <span class="highlight"> .btn-primary</span> class can be used for primary button. </p>
            <p class="description">Secondary action button are used to define next most important button after
                primary<span class="highlight"> .btn-secondary</span> class can be used for secondary button. </p>

            <button class="bt btn-primary">Primary
            </button>
            <button class="bt btn-secondary">Secondary
            </button>
            <div class="button-frame">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2815%2C118%2C110%2C1%29&t=seti&wt=none&l=auto&width=519&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=47px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522bt%2520btn-primary%2522%253EPrimary%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522bt%2520btn-secondary%2522%253ESecondary%250A%253C%252Fbutton%253E"
                    style="width: 519px; height: 240px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>


            <h2>Button with Icons</h2>
            <p class="description">Icon represent about action to be performed when button is clicked. Add Icons to
                button</p>
            <button class="bt btn-secondary">
                <i class="fa fa-shopping-cart"></i>Add to Cart
            </button>
            <button class="bt btn-primary btn-search">
                <i class="fa fa-search"></i>
            </button>
            <button class="btn-menu btn-secondary">
                <i class="fa fa-bars"></i>
            </button>
            <div class="button-frame">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2815%2C118%2C110%2C1%29&t=seti&wt=none&l=auto&width=519&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=47px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522bt%2520btn-secondary%2522%253E%250A%2520%253Ci%2520class%253D%2522fa%2520fa-shopping-cart%2522%253E%253C%252Fi%253EAdd%2520to%2520Cart%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522bt%2520btn-primary%2520btn-search%2522%253E%250A%2520%253Ci%2520class%253D%2522fa%2520fa-search%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn-menu%2520btn-secondary%2522%253E%250A%2520%253Ci%2520class%253D%2522fa%2520fa-bars%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
                    style="width: 519px; height: 330px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div>

            <h2>Link buttons</h2>
            <p class="description">These are links, to other parts of the webpage or to another website<span
                    class="highlight"> .btn-link </span>class can be used for link button </p>
            <button class="btn-link"><a href="/">Gmail
            </button>
            <button class="btn-link"><a href="/">Images</a>
            </button>
            <button class="btn-link">
                <i class="fa fa-bars"></i>
            </button>
            <div class="button-frame">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2815%2C118%2C110%2C1%29&t=seti&wt=none&l=auto&width=519&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=47px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn-link%2522%253E%253Ca%2520href%253D%2522%252F%2522%253EGmail%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn-link%2522%253E%253Ca%2520href%253D%2522%252F%2522%253EImages%253C%252Fa%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn-link%2522%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-bars%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
                    style="width: 519px; height: 294px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <h2>Floating action buttons</h2>
            <p class="description">Buttons are fixed to a particular part of the viewport and are stacked on top of all
                the things, they always appear in the viewport </p>
            <div class="float-container">
                <button class="btn-float"><i class="fa fa-comment-o"></i>
                </button>
                <button class="btn-float"><i class="fa fa-star-o"></i>
                </button>
                <button class="btn-float"><i class="fa fa-external-link"></i>
                </button>
            </div>
            <div class="button-frame">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2815%2C118%2C110%2C1%29&t=seti&wt=none&l=auto&width=519&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=47px&ph=42px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn-float%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-comment-o%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn-float%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-star-o%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn-float%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-external-link%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
                    style="width: 519px; height: 330px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
    </div>
</body>

</html>