@import url("../../styles.css");

.avatar {
  margin-right: 10px;
  margin-left: 5px;
}

.round {
  border-radius: 50%;
}

.size-s {
  width: 3rem;
  height: 3rem;
}

.size-m {
  width: 6rem;
  height: 6rem;
}

.size-l {
  width: 10rem;
  height: 10rem;
}

.avatar-container {
  border: solid var(--primary-color);
  height: 250px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}