<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="avatar.css">
</head>
<body>
    <h2>Square Avatars</h2>
	<img class="avatar size-s" src="https://i.pravatar.cc/400?img=65">
  <img class="avatar size-m" src="https://i.pravatar.cc/400?img=13">
  <img class="avatar size-l"  src="https://i.pravatar.cc/400?img=2">

  <h2>Round Avatars</h2>
  <img class="avatar size-s round" src="https://i.pravatar.cc/400?img=65">
  <img class="avatar size-m round" src="https://i.pravatar.cc/400?img=13">
  <img class="avatar size-l round"  src="https://i.pravatar.cc/400?img=2">
</body>
</html>