<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Sharath Edulakanti">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating | Atom</title>
    <link rel="stylesheet" href="../../css/main.css">
    <script src="https://kit.fontawesome.com/0b01ac136a.js" crossorigin="anonymous">
    </script>
</head>

<body>
    <!-- nav bar -->
    <nav class="navigation container">
        <div class="nav-brand">
            <a href="../../index.html" class="icon"><i class="fas fa-atom"></i></a>
            Atom UI
        </div>

        <ul class="list-non-bullet nav-list">
            <li class="list-item-inline">
                <a class="link" href="../../index.html">Home</a>
            </li>
            <li class="list-item-inline">
                <a class="link link-active" href="installation.html">Documentation</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="https://github.com/sharath-io/Atom-UI" target="_blank">Github</a>
            </li>
        </ul>
    </nav>

    <!-- sidebar -->
    <aside class="sidebar">
        <ul>
            <li><a href="installation.html">Installation</a></li>
            <li><a href="avatar.html">Avatar</a></li>
            <li><a href="badge.html">Badge</a></li>
            <li><a href="alert.html">Alert</a></li>
            <li><a href="button.html">Button</a></li>
            <li><a href="card.html">Card</a></li>
            <li><a href="image.html">Image</a></li>
            <li><a href="input.html">Input</a></li>
            <li><a href="navigation.html">Navigation</a></li>
            <li><a href="rating.html">Rating</a></li>
            <li><a href="slider.html">Slider</a></li>
            <li><a href="toast.html">Toast</a></li>
        </ul>
    </aside>

    <div class="body-text">
        <h1>Rating</h1>
        <p class="description">The rating indicates user feedback about your product
            or application..Using star-icon is preferred than text.</p>
        <div class="rating-container">
            <i class="fa fa-star star-icon fill"></i>
            <i class="fa fa-star star-icon fill"></i>
            <i class="fa fa-star star-icon fill"></i>
            <i class="fa fa-star-o star-icon"></i>
            <i class="fa fa-star-o star-icon"></i>
        </div>
        <p class="description">Can use following classes to implement rating component in your project</p>
        <iframe class="iframe-box"
            src="https://carbon.now.sh/embed?bg=rgba%2815%2C118%2C110%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522rating-container%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fa%2520fa-star%2520star-icon%2520fill%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522fa%2520fa-star%2520star-icon%2520fill%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522fa%2520fa-star%2520star-icon%2520fill%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522fa%2520fa-star-o%2520star-icon%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522fa%2520fa-star-o%2520star-icon%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E"
            style="width: 518px; height: 312px;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>


</body>

</html>