<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Sharath Edulakanti">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert</title>
  <link rel="stylesheet" href="alert.css">
  <script src="https://kit.fontawesome.com/0b01ac136a.js" crossorigin="anonymous">
  </script>
</head>

<body>


  <!-- nav bar -->
  <nav class="navigation container">
    <div class="nav-brand">
      <a href="../../index.html" class="icon"><i class="fas fa-atom"></i></a>
      Atom UI
    </div>

    <ul class="list-non-bullet nav-list">
      <li class="list-item-inline">
        <a class="link" href="../../index.html">Home</a>
      </li>
      <li class="list-item-inline">
        <a class="link link-active" href="../avatar/avatar.html">Documentation</a>
      </li>
      <li class="list-item-inline">
        <a class="link" href="https://github.com/sharath-io/Atom-UI">Github</a>
      </li>
    </ul>
  </nav>

  <!-- sidebar -->
  <aside class="sidebar">
    <ul>
      <li><a href="../avatar/avatar.html">Avatar</a></li>
      <li><a href="../badge/badge.html">Badge</a></li>
      <li><a href="alert.html">Alert</a></li>
      <li><a href="./button.html">Button</a></li>
      <li><a href="./card.html">Card</a></li>
      <li><a href="./image.html">Image</a></li>
      <li><a href="./input.html">Input</a></li>
    </ul>
  </aside>

  <div class="body-text">

    <h1>Alerts</h1>
    <p class="description">Provide contextual feedback messages for typical user actions with the handful of available
      and flexible alert messages.Alerts are available for any length of text, as well as an optional close button. </p>
    <h2>Examples:</h2>
    <p class="description">For proper
      styling, use one of the eight required contextual classes : <span class="highlight">alert-primary,
        alert-secondary, alert-success, alert-danger, alert-warning, alert-info</span> </p>
    <div class="alert-container">
      <div class="alert alert-primary">
        <p>A simple primary alert</p>
      </div>
      <div class="alert alert-secondary">
        <p>A simple secondary alert</p>
      </div>
      <div class="alert alert-success">
        <p>A simple success alert</p>
      </div>
      <div class="alert alert-danger">
        <p>A simple danger alert</p>
      </div>
      <div class="alert alert-warning">
        <p>A simple warning alert</p>
      </div>
      <div class="alert alert-info">
        <p>A simple info alert</p>
      </div>
    </div>

  </div>


</body>

</html>