@import url("../../styles.css");

.alert-container {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    border: solid #e0e0e0;
    border-width: 0.15rem;
    width: 70rem;
}

.alert {
    border: solid 0.15rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 35rem;
}

.alert-primary {
    color: var(--alert-primary-color);
    background-color: var(--alert-primary-background);
    border-color: var(--alert-primary-border);
}

.alert-success {
    color: var(--alert-success-color);
    background-color: var(--alert-success-background);
    border-color: var(--alert-success-border);
}

.alert-danger {
    color: var(--alert-danger-color);
    background-color: var(--alert-danger-background);
    border-color: var(--alert-danger-border);
}

.alert-warning {
    color: var(--alert-warning-color);
    background-color: var(--alert-warning-background);
    border-color: var(--alert-warning-border);
}

.outline-primary {
    color: var(--alert-primary-color);
    border-color: var(--alert-primary-border);
}

.outline-success {
    color: var(--alert-success-color);
    border-color: var(--alert-success-border);
}

.outline-danger {
    color: var(--alert-danger-color);
    border-color: var(--alert-danger-border);
}

.outline-warning {
    color: var(--alert-warning-color);
    border-color: var(--alert-warning-border);
}

.alert-frame {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    border: solid #e0e0e0;
    border-width: 0.15rem;
    width: 70rem;
}